.blue-text {
	color: #262262;
}
.footer {
	width: 100%;
	min-height: 350px;
	background: #262262;
}
.home-hero {
	width: 100%;
	min-height: 700px;
	background-repeat: no-repeat;
	background-size: cover;
}
.hero-cta {
	padding-top: 30rem;
}
.home-about {
	width: 100%;
	min-height: 500px;
	background: #fff;
}
.img-strip {
	width: 100%;
	min-height: 100px;
	background: #ccc;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.dlr-difference {
	width: 100%;
	min-height: 600px;
	background: #fff;
}